body {
    /*margin-top: 50px;*/
}

.top-row {
    padding: .75rem;
}

.back-link {
    color: #fff;
}

.back-link:visited, .back-link:hover, .back-link:active{
    color: #fff;
    text-decoration: none;
}

.back-link:hover, .back-link:active{
    color: #b4b4b4;
}
