/*
#first-section {
    background: url('../img/resized/just-us-cropped.jpg') center center fixed;
    -webkit-background: cover;
    -moz-background: cover;
    background-size: cover;
    height: 800px;
}

#first-section.image-loaded {
    background: url('../img/resized/small/just-us.png') center center fixed;
    -webkit-background: cover;
    -moz-background: cover;
    background-size: cover;
}*/
