/* Break Points
  xs: 0 - 575px
  sm: 576px - 767px
  md: 768px - 991px
  lg: 992px - 1199px
  xl: 1200px+
 */

body {
    font-family: 'Risque', cursive;
    background-color: #343a40;
}

#second-section, #fourth-section {
    background-color: #eee;
}
#sixth-section {
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.great-vibes {
    font-family: 'Great Vibes', cursive;

}

.risque {
    font-family: 'Risque', cursive;
}

.indie-flower {
    font-family: 'Indie Flower', cursive;
}

.arial, .btn {
    font-family: Arial, Helvetica, sans-serif;
}

.hotel-address {
    color: #000;
    padding: .25rem 1.25rem;
}

.no-link {
    cursor: default;
}

a.no-link, a.no-link:hover {
    color: #dc3545;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 89% !important;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card {
    margin-bottom: 10px;
}

.transport-alert {
    margin-bottom: 0;
}

.transport-section {
    padding-bottom: 20px;
}

.bg-white {
    background-color: #fff;
}

.main-header {
    padding-top: 25px;
}

.page-alert {
    border-radius: 0;
}

.see-yall-there {
    color: #dc3545 !important;
    padding-top: 150px;
    text-shadow: 2px 2px 4px #333;
}


.contact-us {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 15000;
}

