body {
    background-color: #eee;
}

.top-row {
    padding: .75rem;
}

.back-link {
    color: #fff;
    position: absolute;
    z-index: 1000;
}

.back-link:visited, .back-link:hover, .back-link:active {
    text-decoration: none;
}

.back-link:hover, .back-link:active {
    color: #b4b4b4;
}

#registry-section {
}

.smiley-color {

}

.registry-card:hover {
    -webkit-box-shadow: 2px 8px 4px #2983C5;
    -moz-box-shadow: 2px 2px 8px 4px #2983C5;
    box-shadow: 2px 2px 8px 4px #2983C5;
}