.top-row {
    padding: .75rem;
}

.back-link {
    color: #fff;
    position: absolute;
    z-index: 1000;
}

.back-link:visited, .back-link:hover, .back-link:active {
    text-decoration: none;
}

.back-link:hover, .back-link:active {
    color: #b4b4b4;
}

#registry-section {
}

.smiley-color {

}


